
<div class="row">
    <div class="col s12 l6" style="padding:0">
        <div id="map" style="height:40rem; position:fixed;right:0"></div>
        <script>
            function initMap() {
                var initialPosition = { lat: 47.501582, lng: 5.7146222 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                    center: initialPosition
                });
                var marker = new google.maps.Marker({
                    position: initialPosition,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4dTDU7cXvUnLfmuoGs4YMUQ8seRrdv8s&callback=initMap">
        </script>
    </div>
    <div class="col s12 l6">
        <div id="initFormConntainer" hidden>
            <div class="row">
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Origin</label>
                </div>
                <div class="input-field col s12 l6">
                    <input type="text" class="datepicker" value="DD/MM/YYYY">
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn right"><i class="material-icons right">send</i>Search</a>
            </div>
        </div>
        <div id="selectDestinationContainer" >
            <div class="row">
                <dl>
                    <dt>Price:</dt>
                    <dd>56€</dd>
                    <dt>Date start:</dt>
                    <dd>21/05/2018</dd>
                    <dt>Date end:</dt>
                    <dd>30/06/2018</dd>
                </dl>
            </div>
            <div class="row">
                <ul id="tabs-swipe-demo" class="tabs">
                    <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
                    <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
                    <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
                </ul>
                <div id="test-swipe-1" class="col s12 ">Test 1</div>
                <div id="test-swipe-2" class="col s12 ">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="test-swipe-3" class="col s12 ">Test 3</div>
            </div>
        </div>
        <div id="resumeContainer" hidden>

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('input.autocomplete').autocomplete({
                data: {
                    "Apple": null,
                    "Microsoft": null,
                    "Google": 'https://placehold.it/250x250'
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
            });
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: true, // Close upon selecting a date,

            });
        });
    </script>
}